.cuerpo{
    background: url(../image/login.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
}

.titulo{
    margin: 100px;
    margin-left: 70px;
    text-align:center;
    font-family: "Comic Sans MS";
    font-size: 50px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 2px black;
}

.texto{
    font-family: "Comic Sans MS";
    font-size: 20px;
}

.cuadrotexto{
    margin-left: 110px;
    font-size: 20px; 
}

.cuadrotexto1{
    margin-left: 80px;
    font-size: 20px; 
}

.cuadrotexto2{
    margin-left: 135px;
    font-size: 20px; 
}

.cuadrotexto3{
    margin-left: 70px;
    font-size: 20px; 
}

.cuadrotexto4{
    margin-left: 240px;
    font-size: 20px; 
}

.botonIniciar{
    font-family: "Comic Sans MS";
    margin: 25px;
    font-size: 17px;
}

.botonRegistro{
    font-family: "Comic Sans MS";
    margin: 25px;
    font-size: 17px;
}