<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Madres</title>
    <style href='../madres/madres.component.css'></style>
</head>

<body>
    <div class="container-fluid position-absolute">
        <div align="center">
            <label class="textoMadres">Madres:</label>
            <input class="" type="text" class="cuadrotexto1" placeholder="Busqueda" #txtSearch (keyup)="onSearchMadres(txtSearch.value)">

            <label class="textoEmpleo">Empleo:</label>
            <input type="number" class="cuadrotexto2" placeholder="Busqueda" #txtEmpleo (keyup)="onSearchEmpleo(txtEmpleo.value)">

            <label class="textoEdad">Edad:</label>
            <input type="number" class="cuadrotexto3" placeholder="Busqueda" #txtEdad (keyup)="onSearchEdad(txtEdad.value)">

            <!-- botones -->
            <br>
            <button class="anterior" (click)="prevPage()">Atras</button>
            <button class="siguiente" (click)="nextPage()">Siguiente</button>
            <br><br>
            <table class="table">
                <div align="center">
                    <h2>Tabla de las madres</h2>
                    <thead>
                        <tr>
                            <th>Madres</th>
                            &nbsp;&nbsp;&nbsp;
                            <th>Labor</th>
                            &nbsp;&nbsp;&nbsp;
                            <th>Edad</th>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <th>Nacimiento</th>
                            &nbsp;&nbsp;&nbsp;
                            <th>Genero</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let madres of madrestab|filtross:page">
                            <td>{{madres.madres}}</td>
                            &nbsp;&nbsp;
                            <td>{{madres.empleo}}</td>
                            &nbsp;&nbsp;
                            <td>{{madres.edad}}</td>
                            &nbsp;&nbsp;
                            <td>{{madres.fecha}}</td>
                            &nbsp;&nbsp;
                            <td>{{madres.sexo ? "Hombre" : "Mujer"}}</td>
                        </tr>
                    </tbody>
                </div>
            </table>
            <div>
                <br>
                <button align="center" (click)="aparecer()">Mostrar</button>
                <div *ngIf="ocultarLabel">
                    <button align="center" (click)="ocultar()">Ocultar</button>
                </div>
                <br> <br>
                <app-compartido *ngIf="mostrarLabel"></app-compartido>
            </div>
        </div>
    </div>
</body>

</html>