<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <link href='../css/login.component.css'>
</head>

<body>
    <div class="cuerpo">
        <h1 class="titulo">Iniciar Sesión</h1>
        <div align="center">
            <label class="texto"> Nombre: </label>
            <input class="cuadrotexto" [(ngModel)]="textNombre" name="textNombre" type="text">
            <br> <br>
            <label class="texto">Contraseña:</label>
            <input class="cuadrotexto1" [(ngModel)]="textcontrasena" name="textcontrasena" type="text">
            <br><br>
            <button class="botonIniciar" (click)="ConsultarRegistro()">Inicia Sesión</button>
            <button class="botonRegistro" (click)="registro()">Registrate</button>
        </div>
    </div>
</body>

</html>