<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Profesores</title>
    <style href='../profesores/profesores.component.css'> </style>
</head>

<body>
    <div class="container-fluid position-absolute">
        <div align="center">
            <label class="textoProfesores"> Profesores: </label>
            <input type="text" class="cuadrotexto1" placeholder="Busqueda" #txtSearch
                (keyup)="onSearchProfesores(txtSearch.value)">

            <!-- Area -->
            <label class="textoArea">Area:</label>
            <input type="text" class="cuadrotexto2" placeholder="Busqueda" #txtArea
                (keyup)="onSearchArea(txtArea.value)">

            <!-- Edad -->
            <label class="textoEdad">Edad:</label>
            <input type="number" class="cuadrotexto3" placeholder="Busqueda" #txtEdad
                (keyup)="onSearchEdad(txtEdad.value)">
            <!-- <input type="text" (keyup)="onSearchEdad($event.key)" placeholder="Busqueda"> -->

            <!-- botones -->
            <br>
            <button class="anterior" (click)="prevPage()" [disabled]="stopA">Atras</button>
            <button class="Siguiente" (click)="nextPage()" [disabled]="stop">Siguiente</button>
            <br><br>
            <table class="table">
                <div align="center">
                    <h2>Tabla de los profesores</h2>
                    <thead>
                        <tr>
                            <th>Profesores</th>
                            &nbsp;&nbsp;
                            <th>Area</th>
                            &nbsp;&nbsp;
                            <th>Edad</th>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <th>Fecha Nacimiento</th>
                            &nbsp;&nbsp;
                            <th>Genero</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let profesor of profesorestab.slice(0,5)">
                            <td>{{profesor.profesores}}</td>
                            &nbsp;&nbsp;
                            <td>{{profesor.area}}</td>
                            &nbsp;&nbsp;
                            <td>{{profesor.edad}}</td>
                            &nbsp;&nbsp;
                            <td>{{profesor.nacimiento}}</td>
                            &nbsp;&nbsp;
                            <td>{{profesor.sexo ? "Hombre" : "Mujer"}}</td>
                            <button (click)="ConsultarporIds(profesor.profesores)">Modificar</button>
                            <td><button (click)="EliminarProfesores(profesor.id)">Eliminar</button></td>
                        </tr>
                    </tbody>
                </div>
            </table>
            <button (click)="ir()">Insertar Profesores</button>
            <div>
                <br>
                <button align="center" (click)="aparecer()">Mostrar</button>
                <div *ngIf="ocultarLabel">
                    <br>
                    <button align="center" (click)="ocultar()">Ocultar</button>
                </div>
                <br>
                <app-compartido *ngIf="mostrarLabel"></app-compartido>
            </div>
        </div>
    </div>
</body>

</html>